akita-har==0.0.2
bleach==3.3.0
build==0.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
docutils==0.16
fastapi==0.63.0
idna==2.10
keyring==22.0.1
packaging==20.9
pep517==0.9.1
pkginfo==1.7.0
pydantic==1.7.3
Pygments==2.8.0
pyparsing==2.4.7
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
six==1.15.0
starlette==0.13.6
toml==0.10.2
tqdm==4.56.2
twine==3.3.0
urllib3==1.26.4
webencodings==0.5.1
